*{box-sizing: border-box;}

div{border: 1px solid black;}

.main-container{
    margin: auto;
    box-shadow: 0 0 10px #111;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
}

.sidebar{width: 30%;}
.current-chat{width: 70%;}

.profile{height: 5em; background-color: red;}
.chats{height: 33em; background-color: yellow;}

.contact-info{height: 5em; background-color: cyan;}
.chat{height: 30em; background-color: greenyellow;}
.send-message{height: 3em; background-color: orange;}